.tab {
  position: absolute;
  width: 100%;
  opacity: 0;
  top: 0;
  z-index: -1;
}
.tab.visible {
  position: static;
  opacity: 1;
  z-index: 1;
}
.tab .image {
  position: relative;
  margin-bottom: 3rem;
}
.tab .image .shape {
  background-color: var(--soft-blue);
  width: calc(100% - 1.5rem);
  z-index: -1;
  border-radius: 0 50% 50% 0;
  height: 90%;
  position: absolute;
  top: 3rem;
  right: 3rem;
}
.tab .info button {
  display: none;
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--soft-blue);
  border-radius: 0.5rem;
  font-weight: 500;
}
.tab .info button:hover {
  cursor: pointer;
  color: var(--soft-blue);
  background-color: transparent;
  outline: solid 1px var(--soft-blue);
}

@media screen and (min-width: 1024px) {
  .tab {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5rem;
  }
  .tab .image, .tab .info {
    flex: 1;
    max-width: 50%;
  }
  .tab .image .shape {
    width: calc(100% + var(--padding-inline) - 3rem);
    height: 100%;
  }
  .tab .info {
    text-align: start;
  }
  .tab .info h3 {
    font-size: clamp(2rem, 2vw, 3rem);
    margin-block: 0;
  }
  .tab .info p {
    margin-block: 1.5rem;
  }
  .tab .info button {
    display: inline-block;
  }
}