@inherits LayoutComponentBase

<header>
    <div class="logo">
        <img src="images/logo-bookmark.svg" alt="Bookmark Logo" />
    </div>
    <div class="navigation">
        <button type="button">
            <img src="images/icon-hamburger.svg" alt="Menu logo" />
        </button>
    </div>
</header>
<main>
    @Body
</main>
<footer>

</footer>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
