@page "/"
@rendermode InteractiveServer
@using bookmark_landing_page.Components.Pages.HomeComponents

<PageTitle>Conditional Rendering Example</PageTitle>

<HeaderContent />
<main>

</main>
<footer>
</footer>

@code {
    
}