@page "/"
@rendermode InteractiveServer
@using bookmark_landing_page.Components.Pages.HomeComponents
@using bookmark_landing_page.Components.Pages.MainComponents

<PageTitle>Book Mark | Huy Phan</PageTitle>

<HeaderContent />
<main>
    <HeroSection />
    <FeatureSection />
    <DownloadSection />
</main>
<footer>
</footer>

@code {
    
}