@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

:root {
  --soft-blue: hsl(231, 69%, 60%);
  --soft-red: hsl(0, 94%, 66%);
  --grayish-blue: hsl(229, 8%, 60%);
  --very-dark-blue: hsl(229, 31%, 21%);
  --padding-inline: max(5rem, calc((100vw - 90rem) / 2));
}

body {
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  font-family: Rubik, sans-serif;
}

button,
input {
  font-family: Rubik, sans-serif;
  border: none;
}

h1,
h2 {
  color: var(--very-dark-blue);
  margin-block: 0;
}

p {
  color: var(--grayish-blue);
  line-height: 1.5;
}

* {
  transition: 0.3s;
}
