#cta {
    background-color: var(--soft-blue);
    margin-top: 20vh;
    text-align: center;
    padding: 3rem 1.5rem;
    color: white;

    label {
        letter-spacing: 0.2rem;
    }

    &-heading {
        color: white;
        margin-block: 1.5rem 3rem;
        letter-spacing: 0.1rem;
    }

    form {
        input {
            display: block;
            width: calc(100% - 4rem);
            padding: 1rem 2rem;
        }

        button {
            display: block;
            width: 100%;
            padding: 1rem 2rem;
        }
    }
}

@media screen and (min-width: 1024px) {
    #cta {

    }
}