#download {
    margin-top: 20vh;
    padding-inline: 1.5rem;
    text-align: center;
}

@media screen and (min-width: 1024px) {
    #download {
        padding-inline: var(--padding-inline);

        p {
            padding-inline: calc((100% - 35rem) / 2);
        }
    }
}