#faqs {
  margin-top: 20vh;
  padding-inline: 1.5rem;
  text-align: center;
}
#faqs .questions {
  text-align: start;
  margin-block: 3rem;
}
#faqs .questions details {
  padding-block: 1.5rem;
  border-bottom: solid 0.125rem var(--box-shadow-color);
}
#faqs .questions details summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--very-dark-blue);
  font-weight: 500;
  transition: inherit;
}
#faqs .questions details p {
  transition: 0.5s;
  opacity: 0;
  margin-top: 2rem;
}
#faqs .questions details:hover summary {
  cursor: pointer;
  color: var(--soft-red);
}
#faqs .questions details[open] summary svg {
  transform: scale(-1);
}
#faqs .questions details[open] summary svg path {
  stroke: var(--soft-red);
}
#faqs .questions details[open] p {
  opacity: 1;
}
#faqs button {
  padding: 1rem 1.5rem;
  color: white;
  background-color: var(--soft-blue);
  border-radius: 0.5rem;
  font-weight: 500;
}
#faqs button:hover {
  cursor: pointer;
  color: var(--soft-blue);
  background-color: transparent;
  outline: solid 1px var(--soft-blue);
}

@media screen and (min-width: 1024px) {
  #faqs h2 {
    font-size: clamp(2rem, 2vw, 3rem);
  }
  #faqs .faqs-paragraph, #faqs .questions {
    padding-inline: calc((100% - 35rem) / 2);
  }
  #faqs .questions details:first-child {
    border-top: solid 0.125rem var(--box-shadow-color);
  }
}