#features {
    margin-top: 20vh;
    padding-inline: 1.5rem;
    text-align: center;

    .feature-tabs {
        nav {
            margin-top: 2rem;
            display: flex;
            flex-direction: column;

            button {
                display: block;
                font-size: 1rem;
                color: var(--grayish-blue);
                background-color: transparent;
                border-bottom: solid 0.125rem var(--box-shadow-color);
                padding-block: 1rem;
                font-weight: 500;
                position: relative;

                &:hover {
                    cursor: pointer;
                    color: var(--soft-red);
                }

                &:first-child {
                    border-top: solid 0.125rem var(--box-shadow-color);
                }

                &.current {
                    color: var(--very-dark-blue);

                    &::before {
                        width: 50%;
                    }
                }

                &::before {
                    content: "";
                    position: absolute;
                    width: 0;
                    height: 0.25rem;
                    left: 50%;
                    top: calc(100% - 0.125rem);
                    transform: translateX(-50%);
                    background-color: var(--soft-red);
                    transition: 0.3s;
                }
            }
        }

        .selected-tab {
            position: relative;
            margin-top: 3rem;

            img {
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    #features {
        padding-inline: var(--padding-inline);

        h2 {
            font-size: clamp(2rem, 2vw, 3rem);
        }

        .paragraph {
            padding-inline: calc((100% - 35rem) / 2);
            margin-block: 1.5rem;
        }

        .feature-tabs {
            nav {
                flex-direction: row;

                button {
                    width: 100%;

                    &:first-child {
                        border-top: 0;
                    }

                    &.current {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }

            .selected-tab {
                margin-top: 5rem;
            }
        }
    }
    
}