#hero {
  padding-inline: 1.5rem;
}
#hero .hero-image {
  position: relative;
  margin-bottom: 30%;
}
#hero .hero-image img {
  width: 100%;
}
#hero .hero-image .shape {
  background-color: var(--soft-blue);
  width: calc(100% - 1.5rem);
  z-index: -1;
  border-radius: 50% 0 0 50%;
  height: 100%;
  position: absolute;
  top: 25%;
  left: 3rem;
}
#hero .hero-content {
  text-align: center;
}
#hero .hero-content p {
  margin-block: 2rem;
}
#hero .hero-content .download-links {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
#hero .hero-content .download-links a {
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem var(--box-shadow-color);
  outline: solid 0px transparent;
}
#hero .hero-content .download-links a:first-child {
  background-color: var(--soft-blue);
  color: white;
}
#hero .hero-content .download-links a:first-child:hover {
  color: var(--soft-blue);
  background-color: transparent;
  outline: solid 1px var(--soft-blue);
}
#hero .hero-content .download-links a:last-child {
  background-color: rgb(247, 247, 247);
  color: var(--grayish-blue);
}
#hero .hero-content .download-links a:last-child:hover {
  background-color: transparent;
  outline: solid 1px var(--grayish-blue);
}

@media screen and (min-width: 1024px) {
  #hero {
    padding-inline: var(--padding-inline);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
  }
  #hero .hero-image {
    flex: 1;
    max-width: 50%;
    margin-bottom: 0;
  }
  #hero .hero-image .shape {
    left: 5rem;
    width: calc(100% - 3rem + var(--padding-inline));
  }
  #hero .hero-content {
    flex: 1;
    max-width: 50%;
    text-align: start;
  }
  #hero .hero-content h1 {
    font-size: clamp(2rem, 3vw, 4rem);
  }
  #hero .hero-content .download-links {
    justify-content: flex-start;
  }
}