#features {
  padding-inline: 1.5rem;
}
#features .hero-image {
  position: relative;
  margin-bottom: 30%;
}
#features .hero-image img {
  width: 100%;
}
#features .hero-image .shape {
  background-color: var(--soft-blue);
  width: calc(100% - 1.5rem);
  z-index: -1;
  border-radius: 50% 0 0 50%;
  height: 100%;
  position: absolute;
  top: 25%;
  left: 3rem;
}
#features .hero-content {
  text-align: center;
}
#features .hero-content .download-links {
  display: flex;
  gap: 1rem;
}
#features .hero-content .download-links a {
  text-decoration: none;
  font-weight: 500;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
}
#features .hero-content .download-links a:first-child {
  background-color: var(--soft-blue);
  color: white;
}
#features .hero-content .download-links a:last-child {
  background: transparent;
  color: var(--very-dark-blue);
  box-shadow: 1px 1px 1rem var(--grayish-blue);
}
#features .hero-content .download-links a:hover {
  color: var(--soft-blue);
  border-color: var(--soft-blue);
}

@media screen and (min-width: 1024px) {
  #features {
    padding-inline: var(--padding-inline);
  }
}